* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font: 16px/1.5 Lato, sans-serif;
}

body {
    background-color: #eee;
    padding: 2em;
}

.site {
    max-width: 900px;
    margin: 0 auto;
}

.site-content {
    background-color: #fff;
    padding: 2em;
    border-radius: 0.3em;
    box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.1);
}

.columns {
    margin: 2em 0;
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
}

.columns article {
    flex: 1 1 30%;
}

.site-content>header,
.site-content>footer {
    text-align: center;
}


.site-content>header h2 {
    margin-bottom: 0.5em;
}

.site-content>header p {
    max-width: 55%;
    margin: 0 auto;
    opacity: 0.7;
}

.site-content>header p::after,
.site-content>footer p::before {
    display: block;
    content: '';
    height: 2px;
    width: 10em;
    background-color: #ccc;
    margin: 1em auto;
}

.site-content>footer p {
    max-width: 80%;
    margin: 0 auto;
    font-size: 0.9em;
    opacity: 0.7;
}