* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font: 16px/1.5 Lato, sans-serif;
}

body {
    background-color: #eee;
}

.site {
    margin: 1em auto;
}

.site-content {
    margin: 0 2em;
    background-color: white;
    padding: 1em 2em;
    border-radius: 0.5em;
    box-shadow: 0 1px 10px gray;
}

hr {
    width: 10em;
    margin: 1em auto;
    color: #eee;
}

.site-content header {
    text-align: center;
    padding-bottom: 1em;
    max-width: 29em;
    margin: 1em auto 1em auto;
}

.site-content footer {
    text-align: center;
    max-width: 50em;
    margin: 1em auto;
}

.site-content header p,
.site-content footer p {
    margin-top: 1em;
    font-style: italic;
    color: gray;
}

.section-articles {
    justify-content: space-evenly;
    display: flex;
    flex-flow: row wrap;
    gap: 1em;
    padding: 2em 0;
}

.section-articles article {
    flex-basis: 20em;
    font-size: 1.1em;
}