<div id="carouselWithCaptions" class="carousel slide">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselWithCaptions" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselWithCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselWithCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        {% for post in site.posts | first: 3 %}
        {% if forloop.first %}
        <!-- add inline css to css file -->
        <div class="carousel-item active carousel-item" style="
        max-height: 45em;">
            <a href="{{ post.url }}">
                <!-- placeholder src will replace with post background banner img src  -->
                {% if post.background%}
                <img src="{{ post.background | prepend: site.baseurl }}" alt="..." class="carousel-image" style="
                    height: 100%; width: 100%; object-fit: cover; filter: brightness(0.6);
                    ">
                <div class=" carousel-caption top-0 mt-5 d-none d-sm-block">
                    <p class="mt-5 fs-3 text-uppercase">{{ post.description }}</p>
                    <h5 class="display-1 fw-bolder text-capitalize">{{ post.title }}</h5>
                </div>
                {% else %}
                <!-- also put in css file -->
                <div class=" carousel-caption top-0 mt-5 d-none d-sm-block"
                    style="background: red; border-radius: 0.5em;">
                    <p class="mt-5 fs-3 text-uppercase">{{ post.description }}</p>
                    <h5 class="display-1 fw-bolder text-capitalize">{{ post.title }}</h5>
                </div>
                {% endif %}
            </a>
        </div>
        {% else %}
        <div class="carousel-item carousel-item" style="height: 30em;">
            <a href="{{ post.url }}">
                <!-- placeholder src will replace with post background banner img src  -->
                {% if post.background%}
                <img src="{{ post.background | prepend: site.baseurl }}" alt="..." class="carousel-image" style="
                                height: 100%; width: 100%; object-fit: cover; filter: brightness(0.6);
                                ">
                <div class=" carousel-caption top-0 mt-5 d-none d-sm-block">
                    <p class="mt-5 fs-3 text-uppercase">{{ post.description }}</p>
                    <h5 class="display-1 fw-bolder text-capitalize">{{ post.title }}</h5>
                </div>
                {% else %}
                <!-- also put in css file -->

                <div class=" carousel-caption top-0 mt-5 d-none d-sm-block"
                    style="background: red; border-radius: 0.5em;">
                    <p class="mt-5 fs-3 text-uppercase">{{ post.description }}</p>
                    <h5 class="display-1 fw-bolder text-capitalize">{{ post.title }}</h5>
                </div>
                {% endif %}
            </a>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselWithCaptions" data-bs-slide="prev"
        style="cursor: w-resize;">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselWithCaptions" data-bs-slide="next"
        style="cursor: e-resize;">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>