#about-me-header {
    min-height: 20em;
}

/* profile avatar */

.profile-icon-container {
    display: inline-block;
    border-radius: 50%;
    width: 10em;
    aspect-ratio: 1/1;
    overflow: hidden;
    border: 0.2em solid lightgray;
}

.profile-icon-container>img {
    height: auto;
    width: 100%;
}