html {
    font: 16px/1.5 "Lato", sans-serif;
    margin: 0 1.5em;
}

p,
ol,
ul {
    padding-bottom: 1.5em;
}

ol,
ul {
    padding-left: 1.5em;
}

ul ul,
ul ol,
ol ul,
ol ol {
    padding-bottom: 0;
}

h1 {
    font-size: 2.8em;
}

h2 {
    font-size: 2.4em;
}

h3 {
    font-size: 2em;
}

h4 {
    font-size: 1.6em;
}

h5 {
    font-size: 1.4em;
}

h6 {
    font-size: 1.2em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.2;
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

table {
    width: 90vw;
    border-collapse: collapse;
    text-align: left;
    margin: 0 auto 1.5em auto;
}

table,
th,
td {
    border: 0.1em solid #a4a2a2;
    padding-left: 0.5em;
}

thead {
    background-color: rgb(185, 185, 185);
}

tbody tr:nth-of-type(odd) {

    background-color: rgb(218, 216, 216);
}

tbody th {
    font-weight: normal;
}

blockquote {
    font-style: italic;
    border-left: 0.2em solid #ddd;
    padding-left: 1.5em;
    margin-bottom: 1.5em;
}



blockquote p:last-of-type {
    padding-bottom: 0;
    text-align: right;
}

footer p {
    padding-bottom: 0.5em;
}