* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font: 16px/1.5 Lato, sans-serif;
}

body {
    background: #ccc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 2em;
}

.container {
    padding: 2em;
    display: flex;
    flex-direction: row;
    gap: 2em;
    max-width: 1100px;
}

main {
    display: flex;
    flex-direction: column;
    gap: 2em;
    flex: 0 0 70%;
}

main>article,
aside>article {
    flex-grow: 1;
    background: #eee;
    display: flex;
    padding: 2em;
    gap: 2em;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    border-radius: 0.2em;
    box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.1);
}

aside {
    display: flex;
}

aside article {
    display: block;
}

.inner-elements {
    flex: 0 1 80%;
}

.inner-elements>i {
    font-size: 4em;
    margin-bottom: 0.1em;
}

.inner-elements p {
    flex: 0 1 60%;
}

.inner-elements>* {
    margin-bottom: 1em;
}

.inner-elements>p:first-of-type {
    color: gray;
}

.author {
    font-weight: bold;
}

.green-circle {
    width: 10em;
    height: 10em;
    aspect-ratio: 1/1;
    background: green;
    border-radius: 50%;
    border: 0.3em solid white;
}

main .green-circle {
    align-self: center;
}


aside .green-circle {
    width: 5em;
    height: auto;
    aspect-ratio: 1/1;
}

@media screen and (max-width: 700px) {
    .container {
        flex-direction: column;
    }

    main>article {
        display: block;
    }

    main .green-circle {
        width: 5em;
        height: auto;
        aspect-ratio: 1/1;
    }
}