---
layout: default
---
<div class="contact-form-container p-4 mt-2 d-flex flex-column justify-content-center flex-grow-1">
    <h3 class="mb-4 ">Reach out to me</h3>
    <form id="contact-form" action="https://api.web3forms.com/submit" method="POST">

        <input type="hidden" name="access_key" value="c2f5da46-1546-4e27-8788-c830c150f82c">


        <div id="email-inputDiv" class="mb-3t">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" name="email" id="email" placeholder="name@example.com"
                onchange="validate(this.value)">
        </div>
        <div class="mt-3 mb-3">
            <label for="message" class="form-label">Example textarea</label>
            <textarea class="form-control" id="message" name="message" rows="3"></textarea>
        </div>

        <input type="checkbox" name="botcheck" class="hidden" style="display: none;">
        <input id="form-submit-button" class="btn btn-outline-secondary" type="submit" value="Send">
    </form>
</div>

<script>
    const submitBttn = document.getElementById('form-submit-button');
    const emailInputDiv = document.getElementById('email-inputDiv');
    const pattern = /^[\w\.]+@([\w-]+\.)+[\w-]{2,4}$/g;

    const invalidEmailMessage = document.createElement('p');
    invalidEmailMessage.textContent = "Invalid Email!!!"
    invalidEmailMessage.classList.add('mt-2', 'p-2');

    function validate(email) {
        const result = pattern.test(email);

        if (!result) {
            submitBttn.setAttribute('disabled', true);
            emailInputDiv.classList.add('alert', 'alert-danger');
            emailInputDiv.appendChild(invalidEmailMessage);

        } else {
            submitBttn.removeAttribute('disabled');
            emailInputDiv.classList.remove('alert', 'alert-danger');
            emailInputDiv.removeChild(emailInputDiv.lastChild);
        }
    }
</script>