body {
    background-color: #EEE;
    color: #333;
    font-family: Arial, sans-serif;
}

header {
    background-color: #f4f4f4;
}

aside {
    background-color: #e9e9e9;
}

.sidebar {
    margin: 0;
    padding: 0;
    max-width: 250px;
    background-color: #e4e4e4;
    position: fixed;
    height: 100%;
    overflow: auto;
    border-radius: 5px;
    box-shadow: 2px 0px 6px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.sidelinks {
    max-width: 250px;
}

.sidebar a,
.sidelinks a {
    display: block;
    color: black;
    padding: 10px;
    text-decoration: none;
}

.sidebar a.active {
    background-color: #04AA6D;
    color: white;
}

.sidebar a:hover:not(.active),
.sidelinks a:hover:not(.active) {
    background-color: #555;
    color: white;
    border-radius: 5px;
}

footer {
    position: fixed;
    bottom: 0;
    color: #6c757d;
    background-color: #f4f4f4;
    width: 100%;
}

.main-content {
    margin-left: 150px;
}